@media (max-width: 600px) {
    .w3-half {
      width: 100%;
      display: block;
    }
  }
  @media (min-width: 600px) {
    p {
      line-height: 1.5;
    }
  }
  
  @media (max-width: 600px) {
    p {
      line-height: 2;
    }
  }
  .inkfree{
    font-family: 'Ink Free', sans-serif;
    font-weight: bold;                                             
  }
  .container {
    display: flex;
  }
  
  .left-column {
    width: 50%;
    padding: 0 20px;
  }
  
  .right-column {
    width: 50%;
    padding: 0 100px;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .container {
      flex-wrap: wrap;
    }
    .left-column,
    .right-column {
      width: 100%;
    }
  }
  
  .container {
    display: flex;
    align-items: center;
    margin-left: 200px; /* increase the left margin by 50 pixels */
    margin-right: 200px; /* increase the right margin by 50 pixels */
    margin-bottom: 50px;
    margin-top: 50px
  }
  .left-column {
    width: 50%;
    padding: 0 20px;
    position: relative;
  }

  .right-column {
    width: 50%;
    padding: 0 20px;
  }
  
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .text-container {
    padding: 40px;
    font-family: Perpetua;
    background-color: #f8f8f8;
    border-radius: 10px;
  }

  p.big {
    font-size: 20px;
    line-height: 1.3;
    text-align: justify;
    margin: 16px;
  }
  p.bigabout {
    font-size: 20px;
    line-height: 2.1;
  }

  h2 {
    margin-bottom: 20px;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  @media (max-width: 768px) {
    .container {
      flex-wrap: wrap;
      align-items: flex-start;
    }
    .left-column,
    .right-column {
      width: 100%;
    }
  }

  .containera {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .text-column {
    flex: 1;
  }
  
  .image-column {
    flex: 1;
  }
  
  body {font-family: "Times New Roman", Georgia, Serif;}
  h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
  } 

